<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="stringDeLigacaoDB" connectionString="Server=localhost;userid=root;password=aedas;Database=06_JoaoBarbosa_PAP" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  
</configuration>
